*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
} 

footer{
	clear: both; /* float 속성 해제 footer가 새로운 줄에서 시작 */
	height: 260px;
	background-color: #474d54;
	color: #f7f2e8;
	font-size: 13px;
	
}
footer .items {
	margin: 40px 0 0 100px;
}
footer h3 {color:#f7f2e8; font-weight:400;}
footer .items ul{ margin-top: 15px; }
footer .items li{ margin-top: 5px; }
footer .phone{
	font-size: 20px;
	font-weight:200;
}
footer .box {
	display:flex;
	justify-content: space-between;
}