*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
} 
#main_image{
	height: 320px;
	background-image: url("../images/ori_main_new.png");
	background-position: top center;
	text-align: center;
	padding: 230px 0 0 750px;
	margin-top:20px;
	font-weight:700;
}
#main_image img{
	margin-right:180px;
}